body, html {
    background-color: #222525;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFFFFF;
}

.main-form {
    text-align: center;
    padding-top: 20px;
    bottom: 22%;
    right: 40%;
    position: absolute;
}

.logo {
    position: relative;
    visibility: visible;
    width: 250px;
    height: 250px;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.nav-link {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: var(--primary-color);
    color: white;
}